<h1>Sam Card</h1>
        
<h3>About me</h3>

<p>
        I was born June 6,1998 in British Columbia but shortly after we moved to Harrow ON where I have been ever since.
  My family consists of my mom Linda, my dad Eric and my older sister Taylor.
        We also have a loving and very funny dog Patches. 
        I went to grade school in Harrow and I went to Villanova for high school. A few things about me, 
        I was a competitive swimmer for many years and enjoyed coaching the Harrow Electric Eels Aquatic Team ( H.E.E.A.T ) for 5 years. I
        also work as a lifeguard at Regional Children's Centre ( RCC ) in Windsor.

</p>

<p>
Now I am in my 2nd year of Graphic Desgin at St. Clair College. In 5 - 10 years I hope to be working
in a company as a Graphic Desginer. One day I would 
like to have my own Photography Studio. I enjoy photography 
and have started to do photoshoots with people. I think what I like
the most about photography is how you can capture a moment with just a click of a button and 
have it for the rest of your life.  

</p>